
@{
    ViewBag.Title = "Privacy Policy";
    Layout = "~/Views/Shared/Front/_LayoutBasic_Front.cshtml";
}


<div class="hero-wrap hero-bread" style="background-image: url('/Templates/Front/images/bg_1.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="@Url.Action("Index", "Home")">Home</a></span> <span>Privacy Policy</span></p>
                <h1 class="mb-0 bread">Privacy Policy</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section contact-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <span class="subheading">Policy</span>
                <h2 class="mb-4">Privacy Policy</h2>
                <p>
                    Your username, password and credentials are stored on our website for the sake of facilitating you with online order requests. We do not store any credit or debit card information. We do not sell or rent your personal information to third parties for their marketing purposes without your explicit consent. Our user’s privacy is of utmost importance to us and we ensure that they are not compromised under any circumstance. You can access and modify the information you provide us and choose not to receive certain communications by signing-in to your account. We use third parties to verify and certify our privacy principles.
                </p>
                <p>
                    All Rights Reserved @DateTime.Now.Year
                </p>
            </div>
        </div>
    </div>
</section>

