
@{
    ViewBag.Title = "Returns & Exchange";
    Layout = "~/Views/Shared/Front/_LayoutBasic_Front.cshtml";
}

<div class="hero-wrap hero-bread" style="background-image: url('/Templates/Front/images/bg_1.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="@Url.Action("Index", "Home")">Home</a></span> <span>Returns & Exchange</span></p>
                <h1 class="mb-0 bread">Returns & Exchange</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section contact-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <span class="subheading">Policy</span>
                <h2 class="mb-4">Returns & Exchange</h2>
                <p>
                    Dia Supermarket takes its quality seriously as we are committed to providing our customers with optimal services. However, in the event that a product is defective or does not meet the requirements of the customer, we have a 7-day order and return policy.
                </p>
                <p>
                    To return the product, you are requested to visit the respective store from which the goods are shipped and exchange or refund the items from the store. This will allow you to get the opportunity to examine the products on spot instead without wasting time and effort.
                </p>
            </div>
        </div>
    </div>
</section>