
@{
    ViewBag.Title = "Terms & Conditions";
    Layout = "~/Views/Shared/Front/_LayoutBasic_Front.cshtml";
}


<div class="hero-wrap hero-bread" style="background-image: url('/Templates/Front/images/bg_1.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="@Url.Action("Index", "Home")">Home</a></span> <span>Terms & Conditions</span></p>
                <h1 class="mb-0 bread">Terms & Conditions</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section contact-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <span class="subheading">Policy</span>
                <h2 class="mb-4">Terms & Conditions</h2>
                <p>
                    You are specifically restricted from all of the following
                </p>
                <ul>
                    <li>
                        publishing any Website material in any other media;
                    </li>
                    <li>
                        selling, sublicensing and/or otherwise commercializing any Website material;
                    </li>
                    <li>
                        publicly performing and/or showing any Website material;
                    </li>
                    <li>
                        using this Website in any way that is or may be damaging to this Website;
                    </li>
                    <li>
                        using this Website in any way that impacts user access to this Website;
                    </li>
                    <li>
                        using this Website contrary to applicable laws and regulations, or in any way may cause harm to the Website, or to any person or business entity;
                    </li>
                    <li>
                        using this Website to engage in any advertising or marketing.
                    </li>
                </ul>
            </div>
        </div>

        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <span class="subheading">Policy</span>
                <h2 class="mb-4">
                    Order Acceptance and Pricing
                </h2>
                <p>
                    In the event that an order cannot be processed due to any unforseen or unintended reasons, Dia Supermarket reserves the right to refuse or cancel any order for any reason at any given time. In order to facilitate your order better, you may be asked to provide additional verifications or information, including but not limited to phone number and address, before we accept the order. Although we have standards in place to provide accurate information, chances are errors may still occur. In case your information is missing or inaccurate, we reserve the right to refuse or cancel any order. In the event that an item is mispriced, we may, at our own discretion, either contact you for instructions or cancel your order and notify you of such cancellation. We shall have the right to refuse or cancel any such orders whether or not the order has been confirmed or you have been charged.
                </p>
            </div>
        </div>
    </div>
</section>